<a href="https://colab.research.google.com/github/Ronan-Castro/Modelo-de-Validacao-sobre-Risco-de-Fogo-na-Regiao-de-Altamira/blob/main/Tratamento_dos_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import preprocessing
import matplotlib.pyplot as plt

In [ ]:
dados21_22 = pd.read_csv('/content/drive/MyDrive/Projeto Tera/Dados/Focos_2021-08-29_2022-08-29.csv')
dados20_21 = pd.read_csv('/content/drive/MyDrive/Projeto Tera/Dados/Focos_2020-08-29_2021-08-28.csv')
dados19_20 = pd.read_csv('/content/drive/MyDrive/Projeto Tera/Dados/Focos_2019-08-29_2020-08-28.csv')

clima_Altamira_2017 =  pd.read_csv('/content/drive/MyDrive/Projeto Tera/Dados/Altamira/ALTAMIRA 2017.csv', sep = ";")
clima_Altamira_2017_2 =  pd.read_csv('/content/drive/MyDrive/Projeto Tera/Dados/Altamira/ALTAMIRA 2017_2.csv', sep = ";")
clima_Altamira_2018 =  pd.read_csv('/content/drive/MyDrive/Projeto Tera/Dados/Altamira/ALTAMIRA 2018.csv', sep = ";")
clima_Altamira_2018_2 =  pd.read_csv('/content/drive/MyDrive/Projeto Tera/Dados/Altamira/ALTAMIRA 2018_2.csv', sep = ";")
clima_Altamira_2019 =  pd.read_csv('/content/drive/MyDrive/Projeto Tera/Dados/Altamira/ALTAMIRA 2019.csv', sep = ";")
clima_Altamira_2019_2 =  pd.read_csv('/content/drive/MyDrive/Projeto Tera/Dados/Altamira/ALTAMIRA 2019_2.csv', sep = ";")
clima_Altamira_2020 =  pd.read_csv('/content/drive/MyDrive/Projeto Tera/Dados/Altamira/ALTAMIRA 2020.csv', sep = ";")
clima_Altamira_2020_2 =  pd.read_csv('/content/drive/MyDrive/Projeto Tera/Dados/Altamira/ALTAMIRA 2020_2.csv', sep = ";")
clima_Altamira_2021 =  pd.read_csv('/content/drive/MyDrive/Projeto Tera/Dados/Altamira/ALTAMIRA 2021.csv', sep = ";")
clima_Altamira_2021_2 =  pd.read_csv('/content/drive/MyDrive/Projeto Tera/Dados/Altamira/ALTAMIRA 2021_2.csv', sep = ";")

In [ ]:
dados_inpe = pd.concat([dados21_22, dados20_21, dados19_20])
len(dados_inpe)

266379

In [ ]:
dados_inpe.municipio.value_counts()

ALTAMIRA                        11826
SAO FELIX DO XINGU              11652
PORTO VELHO                     10054
LABREA                           8272
APUI                             7323
                                ...
BENEVIDES                           1
SAO LUIS GONZAGA DO MARANHAO        1
ANANINDEUA                          1
DOIS IRMAOS DO TOCANTINS            1
HUMBERTO DE CAMPOS                  1
Name: municipio, Length: 539, dtype: int64

In [ ]:
dados_inpe = dados_inpe.query('municipio == "ALTAMIRA"')
len(dados_inpe)

11826

In [ ]:
dados_Altamira = pd.concat([clima_Altamira_2017, \
                           clima_Altamira_2017_2, \
                           clima_Altamira_2018, \
                           clima_Altamira_2018_2, \
                           clima_Altamira_2019, \
                           clima_Altamira_2019_2, \
                           clima_Altamira_2020, \
                           clima_Altamira_2020_2, \
                           clima_Altamira_2021, \
                           clima_Altamira_2021_2])
len(dados_Altamira)

5478

In [ ]:
dados_Altamira

,Data,Hora (UTC),Temp. [Hora] (C),Umi. (%),Pressao (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Nebulosidade (Decimos),Insolacao (h),Temp. Max. [Diaria] (h),Temp. Min. [Diaria] (h),Chuva [Diaria] (mm)
0,01/01/2017,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2017,1200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,4"
2,01/01/2017,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2017,0,NaN,NaN,NaN,NaN,NaN,NaN,"3,10","29,9",NaN,NaN
4,02/01/2017,1200,"23,3","94,0","1001,1","0,7","270,0","10,0",NaN,NaN,"22,4","12,4"
...,...,...,...,...,...,...,...,...,...,...,...,...
547,30/12/2021,1200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548,30/12/2021,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
549,31/12/2021,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550,31/12/2021,1200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
551,31/12/2021,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
lista = []
for item in dados_Altamira.columns:
  lista.append(item)
lista.remove('Data')
lista.remove('Hora (UTC)')

In [ ]:
dados_Altamira.replace(',', '.', regex=True, inplace = True)

In [ ]:
for item in lista:
  dados_Altamira[item] = dados_Altamira[item].astype(float)

In [ ]:
dados_Altamira = dados_Altamira.groupby(by='Data', axis=0).agg('mean')

In [ ]:
#for item in lista:
  #plt.figure(figsize=(14, 8))
  #plt.xticks(rotation=90)
  #dado = dados_Altamira.sort_values(by=[item])
  #sns.histplot(dado[item])
  #plt.show()
  #Velocidade Vento, Direção Vento, Nebulosidade, insolação e chuva diária

In [ ]:
lista2 = []
for item in lista:
  if item in ['Vel. Vento (m/s)',	'Dir. Vento (m/s)',	'Nebulosidade (Decimos)',	'Insolacao (h)', 'Chuva [Diaria] (mm)']:
    lista2.append(item)
    lista.remove(item)

In [ ]:
for item in lista:
  dados_Altamira[item].fillna(round(dados_Altamira[item].mean(),2), inplace=True)
for item in lista2:
  dados_Altamira[item].fillna(round(dados_Altamira[item].median(),2), inplace=True)

In [ ]:
dados_inpe["datahora"] = dados_inpe["datahora"].astype(object)
dados_inpe["datahora"] = dados_inpe["datahora"].str[0:10]

In [ ]:
# Coloca a data no formato dd/MM/yyyy
#                                          dia                                mes                                ano
dados_inpe["datahora"] = dados_inpe["datahora"].str[-2:] + dados_inpe["datahora"].str[-6:-2] + dados_inpe["datahora"].str[0:-6]
dados_inpe.sort_values(by="datahora")

,datahora,satelite,pais,estado,municipio,bioma,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp
81563,01/02/2020,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,2.0,0.0,0.0,-8.40000,-54.98000,22.8
82777,01/03/2020,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,3.0,17.2,0.0,-7.09300,-55.07500,6.9
55559,01/06/2021,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,10.0,0.0,1.0,-8.53800,-55.08800,12.0
55032,01/08/2020,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,19.0,0.0,0.8,-6.23500,-53.65800,76.9
54987,01/08/2020,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,25.0,0.0,0.7,-6.30200,-54.00100,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...
47947,31/08/2021,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,7.0,2.7,0.2,-8.19477,-54.81243,88.4
47944,31/08/2021,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,0.0,10.1,0.0,-8.47836,-55.18130,77.0
33328,31/10/2019,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,0.0,2.2,0.1,-8.02500,-55.04200,35.8
33327,31/10/2019,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,0.0,3.6,0.0,-8.02100,-55.00500,41.1
33326,31/10/2019,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,0.0,3.4,0.1,-8.01700,-55.01200,57.5

In [ ]:
dados_inpe.rename(columns={"datahora": "Data"},inplace = True)

In [ ]:
#dados_inpe

In [ ]:
dados_Altamira

,Hora (UTC),Temp. [Hora] (C),Umi. (%),Pressao (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Nebulosidade (Decimos),Insolacao (h),Temp. Max. [Diaria] (h),Temp. Min. [Diaria] (h),Chuva [Diaria] (mm)
Data,,,,,,,,,,,
01/01/2017,1000.0,28.200000,78.940000,999.560000,0.900000,130.000000,6.670000,6.3,32.89,22.33,38.4
01/01/2018,1000.0,29.100000,77.666667,999.166667,0.466667,226.666667,6.333333,7.2,32.89,24.30,1.3
01/01/2019,1000.0,26.200000,85.000000,1000.166667,1.166667,273.333333,8.666667,5.1,32.89,21.90,6.3
01/01/2020,1000.0,24.700000,92.000000,999.600000,1.000000,320.000000,10.000000,6.3,32.89,22.33,9.0
01/01/2021,1000.0,25.600000,90.000000,1000.250000,0.750000,90.000000,9.500000,6.1,31.60,19.50,22.8
...,...,...,...,...,...,...,...,...,...,...,...
31/12/2017,1000.0,29.066667,81.000000,998.766667,0.233333,60.000000,6.666667,5.6,32.89,23.50,38.9
31/12/2018,1000.0,26.600000,84.333333,999.366667,0.933333,213.333333,8.333333,0.0,27.20,22.00,1.3
31/12/2019,1000.0,25.733333,87.666667,998.466667,0.833333,226.666667,9.333333,0.0,27.10,20.90,34.0
31/12/2020,1000.0,25.550000,89.500000,999.200000,0.500000,135.000000,9.000000,2.9,30.80,19.20,5.8
31/12/2021,1000.0,28.200000,78.940000,999.560000,0.900000,130.000000,6.670000,6.3,32.89,22.33,0.3

In [ ]:
df = pd.merge(dados_inpe, dados_Altamira, how = 'inner', on = 'Data')

In [ ]:
df

,Data,satelite,pais,estado,municipio,bioma,diasemchuva,precipitacao,riscofogo,latitude,...,Temp. [Hora] (C),Umi. (%),Pressao (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Nebulosidade (Decimos),Insolacao (h),Temp. Max. [Diaria] (h),Temp. Min. [Diaria] (h),Chuva [Diaria] (mm)
0,07/10/2021,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,0.0,3.1,0.1,-8.09621,...,28.200000,78.940000,999.560000,0.900000,130.000000,6.670000,6.3,32.89,22.33,0.3
1,07/10/2021,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,0.0,2.8,0.1,-8.18397,...,28.200000,78.940000,999.560000,0.900000,130.000000,6.670000,6.3,32.89,22.33,0.3
2,07/10/2021,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,0.0,2.6,0.1,-8.19341,...,28.200000,78.940000,999.560000,0.900000,130.000000,6.670000,6.3,32.89,22.33,0.3
3,07/10/2021,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,0.0,2.6,0.6,-8.20493,...,28.200000,78.940000,999.560000,0.900000,130.000000,6.670000,6.3,32.89,22.33,0.3
4,07/10/2021,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,0.0,1.5,0.4,-8.27370,...,28.200000,78.940000,999.560000,0.900000,130.000000,6.670000,6.3,32.89,22.33,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8862,18/02/2020,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,1.0,0.5,0.4,-8.35600,...,27.633333,84.000000,998.600000,1.733333,286.666667,8.000000,5.5,32.70,21.80,0.2
8863,01/03/2020,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,3.0,17.2,0.0,-7.09300,...,28.200000,78.940000,999.560000,0.900000,130.000000,6.670000,6.3,32.89,22.33,0.5
8864,13/05/2020,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,6.0,0.0,0.0,-8.92300,...,29.033333,79.666667,999.266667,0.833333,166.666667,5.666667,7.1,32.40,22.00,0.0
8865,11/06/2020,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,11.0,0.0,0.8,-8.40700,...,27.600000,77.000000,1000.400000,1.500000,320.000000,7.500000,6.3,32.89,22.33,0.3
8866,07/06/2020,AQUA_M-T,Brasil,PARA,ALTAMIRA,Amazonia,8.0,0.0,0.7,-8.40600,...,28.200000,78.940000,999.560000,0.900000,130.000000,6.670000,6.3,32.89,22.33,0.0

In [ ]:
df.drop(['satelite', 'pais'], axis = 1, inplace = True)

In [ ]:
mediana = df['diasemchuva'].median()
df['diasemchuva'] = np.where(df['diasemchuva'] < 0, mediana, df['diasemchuva'])
mediana = df['riscofogo'].median()
df['riscofogo'] = np.where(df['riscofogo'] < 0, mediana, df['riscofogo'])

df['frp'].fillna(round(dados_Altamira[item].median(),2), inplace=True)

In [ ]:
df.to_csv("DadosTotais_SemiTratados2.csv", sep = ',', index = False)
!cp DadosTotais_SemiTratados2.csv "/content/drive/MyDrive/Projeto Tera/Dados/"